<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:if="${list == null} or ${#lists.size(list) <= 0}">
    alert("해당 정보가 삭제되거나 없습니다");
    history.back();
</script>

<th:block th:if="${list} and ${#lists.size(list) > 0}" th:with="dto=${list[0]}, logged_user=${#authentication.principal.user}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
    <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
    <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
    <script th:src="@{/js/vvineFunc/mail-script.js}"></script>
    <script th:src="@{/js/vvineFunc/main.js}"></script>
    <script th:src="@{/js/detail.js}"></script>



    <script th:inline="javascript">
        const conPath = [[${conPath}]];
        const logged_id = [[${logged_user.user_uid}]];
    </script>



    <title>자유게시판(조회)</title>
</head>

<body>
<!--/* 인증 헤더 */-->
<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3">
    <h3 id="h33">자유게시판</h3>
    <br><br>
    <div class="mt-10">
        <span class="float-end ms-4">작성일: [[${#temporals.format(dto.write_regdate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
    </div>

    <section>
        <form name="frmDelete" th:action="@{/board/delete}" method="post">
            <input type="hidden" name="write_id" th:value="${dto.write_id}">
        </form>


        <div class="mt-10">
            <label>작성자</label>
            <div class="border bg-light rounded p-2" >[[${dto.user.user_id}]]</div>
        </div>
        <div class="mt-10">
            <label>제목</label>
            <div class="border bg-light rounded p-2" >[[${dto.write_title}]]</div>
        </div>
        <div class="mt-10">
            <label>내용</label>
            <div class="border bg-light rounded p-2" th:utext="${dto.write_content}"></div>
        </div>

        <!-- 첨부파일목록 -->
        <div class="container mt-3 mb-3 border rounded">
            <div class="mb-3 mt-3">
                <!-- 첨부파일 이름, 다운로드 링크 -->
                <ul class="list-group mb-1">
                    <li class="list-group-item" th:each="writeFile : ${dto.fileList}">
                        <a th:href="@{download(id=${writeFile.write_file_id})}">[[${writeFile.source}]]</a>
                    </li>
                </ul>
                <!-- /* 이미지인 경우 보여주기 */-->
                <div th:each="writeFile : ${dto.fileList}" th:if="${writeFile.image}">
                    <img th:src="@{'/upload/' + ${writeFile.file}}" class="img-thumbnail" alt="Cinque Terre">
                </div>
            </div>
        </div>
        <!-- 첨부파일목록 -->


        <!-- 하단 링크 -->
        <a class="genric-btn primary-border circle" th:href="@{/board/update(write_id=${dto.write_id})}" th:if="${logged_user.user_uid == dto.user.user_uid}">수정</a>
        <a class="genric-btn primary-border circle" th:href="@{/board/list(page=${session.page})}">목록</a>
        <button type="button" class="genric-btn primary-border circle" id="btnDel" th:if="${logged_user.user_uid == dto.user.user_uid}">삭제</button>
        <a class="genric-btn primary-border circle" th:href="@{/board/write}" sec:authorize="hasAnyRole('ADMIN','SILVER','GOLD','DIAMOND')">작성</a>
        <!-- 하단 링크 -->

        <!-- 댓글 -->
        <th:block th:insert="~{board/review::review}">

        </th:block>
        <!-- 댓글 -->

    </section>

    <footer>
        <th:block th:insert="~{common/footer::footer}"></th:block>
    </footer>

</div>

</body>
</th:block>
</html>



