<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="review">
  <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>

  <!-- 댓글 -->
  <div class="container my-3 border rounded">
    <div class="mt-10">
      <label>총 댓글 개수 <span id="cmt_cnt"></span></label>

      <!-- ROLE_MEMBER 권한 가진 사용자만 댓글 작성 가능 -->
      <div class="input-group my-2" sec:authorize="hasAnyRole('ADMIN','SILVER','GOLD','DIAMOND')">
        <input type="text" class="form-control" id="input_review">
        <button type="button" class="btn btn-outline-secondary" id="btn_review">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </div>

      <table class="table table-hover mt-3" id="cmt_table">
        <thead>
        <tr style="color:#777777;font-family:Poppins,sans-serif;font-size:14px;">
          <th style="width: 16.66%">작성자</th>
          <th>내용</th>
          <th style="width: 16.66%">작성일</th>
        </tr>
        </thead>
        <tbody id="cmt_list">

        </tbody>
      </table>
    </div>
  </div>
  <!-- 댓글 -->


</th:block>

</html>