<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:if="${list == null} or ${#lists.size(list) <= 0}">
	alert("해당 정보가 삭제되거나 없습니다");
	history.back();
</script>

<th:block th:with="dto=${list[0]}, logged_user=${#authentication.principal.user}" th:if="${list} and ${#lists.size(list) > 0}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
  <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
  <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
  <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
  <script th:src="@{/js/vvineFunc/mail-script.js}"></script>
  <script th:src="@{/js/vvineFunc/main.js}"></script>

  <script th:src="@{/js/vvineFunc/update.js}"></script>

  <title>게시글 수정</title>
</head>

<body>

<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3">
  <h3 id="h33">게시글 수정</h3>
  <br><br><br>


  <form name="frm" th:action="@{/board/update}" method="post" enctype="Multipart/form-data">
    <input type="hidden" name="write_id" th:value="${dto.write_id}"/>
    <div class="mt-10">
      <span class="input-group-append">
        <label>작성자</label>
      </span>
      <span class="form-control" readonly>[[${dto.user.user_id}]]</span>
    </div>

    <div class="mt-10">
      <span class="input-group-append">
        <label for="write_title">제목</label>
      </span>
      <input type="text" class="form-control" list="datalistOptions" id="write_title" placeholder="제목을 입력하세요" name="write_title" th:value="${dto.write_title}" required>
      <datalist id="datalistOptions">
        <option value="배송문의">
        <option value="와인클래스관련">
        <option value="기타문의">
      </datalist>
    </div>

    <div class="mt-10">
      <span class="input-group-append">
        <label for="write_content">내용</label>
      </span>
      <textarea class="form-control" rows="5" id="write_content" placeholder="내용을 입력하세요" name="write_content" th:utext="${dto.write_content}"></textarea>
    </div>

    <!-- 기존 첨부파일  목록 (삭제 가능) -->
    <div class="container mt-3 mb-3 border rounded" th:if="${dto.fileList != null} and ${#lists.size(dto.fileList) > 0}">
      <div id="delFiles"></div>  <!-- 삭제할 file 의 id 값(들)을 담기위한 div -->
      <div class="mb-3 mt-3">
        <label>첨부파일</label>
        <div class="input-group mb-2" th:each="writeFile : ${dto.fileList}">
          <input class="form-control col-xs-3" type="text" readonly th:value="${writeFile.source }">
          <button type="button"  class="btn btn-outline-secondary" th:data-fileid-del="${writeFile.write_file_id}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-scissors" viewBox="0 0 16 16">
              <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>


    <div class="container mt-3 mb-3 border rounded">
      <div class="input-group mb-2" id="files">
        <label for="myInput">
          <span id="mySpan">첨부할 파일을 선택해주세요</span>
        </label>
        <input id="myInput" class="form-control col-xs-3" type="file" name="upfile"/>
      </div>
      <div class="preview" id="preview">

      </div>
    </div>


    <!-- 하단 링크 -->
    <button type="submit" class="genric-btn primary-border circle" th:if="${logged_user.user_uid == dto.user.user_uid}">수정완료</button>
    <button type="button" class="genric-btn primary-border circle" onclick="history.back()">이전으로</button>
    <a class="genric-btn primary-border circle" th:href="@{/board/list(page=${session.page})}">목록</a>
    <!-- 하단 링크 -->

  </form>
</div>

<footer>
  <th:block th:insert="~{common/footer::footer}"></th:block>
</footer>


</body>
</th:block>
</html>
