<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
  <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
  <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
  <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
  <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
  <script th:src="@{/js/vvineFunc/mail-script.js}"></script>
  <script th:src="@{/js/vvineFunc/main.js}"></script>
  <script th:src="@{/js/write.js}"></script>


  <title>게시글 작성</title>
</head>

<body>

<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3" th:with="user=${#authentication.getPrincipal().getUser()}">
  <h3 id="h33">게시글 작성</h3>
  <br><br><br>


  <form th:action="@{/board/write}" method="post" enctype="Multipart/form-data">
    <div class="mt-10">
      <span class="input-group-append">
        <label>작성자</label>
      </span>
      <span class="form-control">[[${user.user_id }]] ([[${user.user_name }]])</span>
    </div>

    <div class="mt-10">
      <span class="input-group-append">
        <label for="write_title">제목</label>
      </span>
      <input type="text" class="form-control" list="datalistOptions" id="write_title" placeholder="제목을 입력하세요" name="write_title" th:value="${write_title}" required>
      <datalist id="datalistOptions">
        <option value="배송문의">
        <option value="와인클래스관련">
        <option value="기타문의">
      </datalist>
    </div>

    <div class="mt-10">
      <span class="input-group-append">
        <label for="write_content">내용</label>
      </span>
      <textarea class="form-control" rows="5" id="write_content" placeholder="내용을 입력하세요" name="write_content">[[${write_content}]]</textarea>
    </div>

    <!-- 첨부파일 -->
    <div class="container mt-3 mb-3 border rounded">
      <div class="input-group mb-2" id="files">
        <label for="myInput">
          <span id="mySpan">첨부할 파일을 선택해주세요</span>
        </label>
        <input id="myInput" class="form-control col-xs-3" type="file" name="upfile"/>
      </div>
      <div class="preview" id="preview">

      </div>
    </div>
    <!-- 첨부파일 -->


    <button type="submit" class="genric-btn primary-border radius">작성완료</button>
    <a class="genric-btn primary-border radius" th:href="@{/board/list}">목록</a>
  </form>

  <footer>
    <th:block th:insert="~{common/footer::footer}"></th:block>
  </footer>

</div>

</body>
</html>
