<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<th:block th:fragment="header">

        <div class="container" id="headercontainer">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a class="navbar-brand" th:href="@{/vvine}"><img src="/img/vvine_logo.png" alt="" width="160" height="120"/></a>
                </div>
                <!-- 로그인 안했을때는 로그인 form 보여주기 -->
                <div class="d-flex flex-row-reverse">
                    <a class="genric-btn primary-border circle" sec:authorize="isAnonymous()" th:href="@{/user/login}">회원서비스</a>
                </div>
                <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                <div class="d-flex flex-row-reverse">
                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <!--TODO : 로그아웃후 다시 돌아오기 -->
                    <span class="d-flex">
                            <span id="nav-nav" class="nav-menu">
                                <span sec:authorize="hasRole('ADMIN')">ADMIN/</span>
                                <span sec:authorize="hasRole('SILVER')">SILVER/</span>
                                <span sec:authorize="hasRole('GOLD')">GOLD/</span>
                                <span sec:authorize="hasRole('DIAMOND')">DIAMOND/</span>
                                <a th:href="@{/user/mypage}"><span TODO="">[[${user.user_id}]]([[${user.user_name}]]) 님</span> </a>
                            </span>
                            <span><button class="genric-btn primary-border circle" type="submit">Logout</button></span>
                    </span>
                </form>
                </div>


                 <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a th:href="@{/wine/search}" class="sf-with-ul">와인검색</a>
                            <ul id="nav-ul">
                                <li><a th:href="@{/wine/search}">SEARCH</a></li>
                                <li><a th:href="@{/wine/list?type=reds}">RED</a></li>
                                <li><a th:href="@{/wine/list?type=whites}">WHITE</a></li>
                                <li><a th:href="@{/wine/list?type=sparkling}">SPARKLING</a></li>
                                <li><a th:href="@{/wine/list?type=rose}">ROSE</a></li>
                                <li><a th:href="@{/wine/list?type=dessert}">DESSERT</a></li>
                                <li><a th:href="@{/wine/list?type=port}">PORT</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/board/list}">자유게시판</a>
                        </li>
                        <li>
                            <a th:href="@{/notice/noticeList}">공지사항</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

</th:block>

</html>