<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/vvine}"><img src="/img/wine_test_img.jpg" alt="" width="160" height="120"/></a>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">

                </ul>
                <!-- 로그인 안했을때는 로그인 form 보여주기 -->
                <a class="btn btn-outline-dark" sec:authorize="isAnonymous()" th:href="@{/user/login}">회원서비스</a>

                <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <!--TODO : 로그아웃후 다시 돌아오기 -->
                    <span class="d-flex">
                            <span class="text-dark p-2">
                                <span sec:authorize="hasRole('ADMIN')">ADMIN/</span>
                                <span sec:authorize="hasRole('SILVER')">SILVER/</span>
                                <span sec:authorize="hasRole('GOLD')">GOLD/</span>
                                <span sec:authorize="hasRole('DIAMOND')">DIAMOND/</span>
                                <a th:href="@{/user/mypage}"><span TODO="">[[${user.user_id}]]([[${user.user_name}]])</span> 님</a>
                            </span>
                            <span><button class="btn btn-outline-dark" type="submit">Logout</button></span>
                    </span>
                </form>
            </div>
        </div>
    </nav>
</th:block>

</html>