<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="CSS/default_copy.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
<div id="wrap">
    <header>
        <div id="logo">

        </div>
        <nav id="top_menu">
            <ul>
                <li><a href="#"><span>와인검색</span></a>
                    <ul>
                        <li><a href="#">RED</a></li>
                        <li><a href="#">WHITE</a></li>
                        <li><a href="#">SPARKLING</a></li>
                        <li><a href="#">ROSE</a></li>
                        <li><a href="#">DESSERT</a></li>
                        <li><a href="#">PORT</a></li>
                        <li><a href="#">SEARCH</a></li>
                    </ul>
                </li>
                <li><a href="#"><span>자유게시판</span></a></li>
                <li><a href="#"><span>공지사항</span></a></li>
                <li><a href="#"><span><div>회원서비스</div></span></a></li>
            </ul>
        </nav>
    </header>
    <article>
        <div id="main_img">
            <div id = "container"></div>
        </div>
        <hr>
        <div class="notice_wrap">
            <div class="tab_item1">
                <ul class="item1">

                </ul>
            </div>
            <div class="tab_list1">
                <ul class="list1">

                </ul>
            </div>
        </div>
        <div class="news_wrap">
            <div class="tab_item2">
                <ul class="item2">

                </ul>
            </div>
            <div class="tab_list2">
                <ul class="list2">
                    <li class="detail2">

                    </li>
                </ul>
            </div>
        </div>
    </article>

    <footer>
        <hr>
        <div id="footer">
            Contact email : aaa@bbb.com +82 2 1111 1111
        </div>
    </footer>
</div>
<script src="JS/default.js"></script>
</body>
</html>