<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<script th:if="${list == null} or ${#lists.size(list) <= 0}">
	alert("해당 정보가 삭제되거나 없습니다");
	history.back();
</script>

<th:block th:with="notice=${list[0]}, logged_user=${#authentication.principal.user}" th:if="${list} and ${#lists.size(list) > 0}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" /><!--Summernote css-->
    <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script><!--Summernote js-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/noticeUpdate.js}"></script>
    <title>공지수정</title>
</head>


<body>

    <!--헤더-->
    <th:block th:insert="~{common/header::header}"></th:block>
    <!--헤더-->


    <div class="container">
        <div>공지사항 수정 페이지</div>
        <form name="frm" th:action="@{/notice/noticeUpdate}" method="post" enctype="Multipart/form-data">
            <input type="hidden" name="notice_id" th:value="${notice.notice_id}">
            <div>
                <label>작성자 : </label>
                <div>[[${notice.user.user_name}]]</div>
            </div>
            <div>
                <label for="notice_title">제목 : </label>
                <input type="text" name="notice_title" id="notice_title" placeholder="제목을 입력하세요" th:value="${notice.notice_title}" required>
            </div>
            <div>
                <label for="notice_content">내용 : </label>
                <textarea name="notice_content" id="notice_content" rows="10" placeholder="내용을 입력하세요" th:utext="${notice.notice_content}"></textarea>
            </div>

            <!-- 기존 첨부파일  목록 (삭제 가능) -->
            <div class="container mt-3 mb-3 border rounded" th:if="${notice.fileList != null} and ${#lists.size(notice.fileList) > 0}">
                <div id="delFiles"></div>  <!-- 삭제할 file 의 id 값(들)을 담기위한 div -->
                <div class="mb-3 mt-3">
                    <label>첨부파일:</label>
                    <div class="input-group mb-2" th:each="noticeFile : ${notice.fileList}">
                        <input class="form-control col-xs-3" type="text" readonly th:value="${noticeFile.source }">
                        <button type="button"  class="btn btn-outline-danger" th:data-fileid-del="${noticeFile.notice_file_id}">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 기존 첨부파일  목록 (삭제 가능) -->

            <!-- 새로운 첨부파일 추가  write.html 의 내용과 거의 똑같다.-->
            <div class="container mt-3 mb-3 border rounded">
                <div class="mb-3 mt-3">
                    <label>첨부파일추가:</label>
                    <div id="files">

                    </div>
                    <button type="button" id="btnAdd" class="btn btn-secondary">추가</button>
                </div>
            </div>
            <!-- 새로운 첨부파일 추가 -->


            <!-- 하단 링크 -->
            <button type="submit" class="btn btn-outline-dark" th:if="${logged_user.user_uid == notice.user.user_uid}">수정완료</button>
            <button type="button" class="btn btn-outline-dark" onclick="history.back()">이전으로</button>
            <a class="btn btn-outline-dark" th:href="@{/notice/noticeList(page=${session.page})}">목록</a>
            <!-- 하단 링크 -->

        </form>
    </div>

    <!-- 푸터 -->
    <th:block th:insert="~{common/footer::footer}"></th:block>
    <!-- 푸터 -->

</body>
</th:block>

</html>