body {margin-bottom:400px}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
}


#mySpan {
    cursor:pointer;
}

#mySpan:hover {
    text-decoration: underline;
}

#myInput {
    opacity: 0;
}

#preview {
    height: 50px;
}

#article{
    text-align:center;
    margin:220px 0 0 0;
}

#h33 {
    text-align:center;
}


#nav-ul{
    opacity:90%;
}

#nav-nav{
    color:black;
    font-weight:400;
    font-size:12px;
}

#header {
    background-size: cover;
    background-image: url("/img/main_back.jpg");
    background-position: 100%;
    background-repeat : no-repeat;
}
#header.header-scrolled .nav-menu, #header.header-scrolled #nav-menu-container a, #header.header-scrolled .nav-menu span {
    color: #fff;
}