body {margin-bottom:400px}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
}


#mySpan {
    cursor:pointer;
}

#mySpan:hover {
    text-decoration: underline;
}

#myInput {
    opacity: 0;
}

#preview {
    height: 50px;
}

#article{
    text-align:center;
    margin:220px 0 0 0;
}

#h33 {
    text-align:center;
}

#headercontainer{
    /*background-color:#530031;*/
    background-color:white;
}

#nav-ul{
    opacity:90%;
}

#nav-nav{
    color:black;
    font-weight:400;
    font-size:12px;
}