<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lec.spring.repository.PointRepository">
    <insert id="pointInsert" parameterType="com.lec.spring.domain.UserPoint">
        INSERT INTO tb_point (user_uid, wine_id, user_point, regdate)
        VALUES (#{user.user_uid}, #{wine.wine_id}, #{user_point}, now());
    </insert>
    <select id="pointByUid" resultType="int">
        SELECT ifnull(sum(user_point), 0) AS "userPoint" FROM tb_point WHERE user_uid = #{param1};
    </select>
</mapper>