<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wine</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">
    <link rel="stylesheet" th:href="@{/css/wine/search.css}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5c3bd4b785.js" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
    <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
    <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
    <script th:src="@{/js/vvineFunc/mail-script.js}"></script>

    <script th:src="@{/js/vvineFunc/main.js}"></script>

</head>
<body>
    <th:block th:insert="~{common/header::header}"></th:block>
    <div id="resultList"></div><div id="pageList"></div>
    <footer><th:block th:insert="~{common/footer::footer}"></th:block></footer>
</body>
</html>
<script th:inline="javascript">
    const conPath = [[${conPath}]];
</script>
<script>
    let type = `[[${wine_type}]]`;
    let wineList = null;
    let pageNum = 1, onePageTotal = 12, pageArrNum = 0;
    let pages = [];
    


    const movePage = function(number){
        if(number < 0) return;
        else if(number === pages.length) return;
        pageArrNum = number;
        let str = "";
        
        str += `<span onclick="movePage(${pageArrNum - 1})"><</span><div>`
            pages[pageArrNum].forEach(number => {
                if(number === pageNum)
                str += `<li onclick="setList(${number},${onePageTotal})" style="font-size: 20px; font-weight: bold;">${number}</li>`;
                else
                str += `<li onclick="setList(${number},${onePageTotal})">${number}</li>`;
            });
        str += `</div>`;
        str += `<span onclick="movePage(${pageArrNum + 1})">></span>`;
        
        document.getElementById("pageList").innerHTML = str;
        window.scroll(top);
    }
    const setList = function(currPage, onePageTotal){
        pageNum = currPage;
        let str = "";
        document.getElementById("resultList").innerHTML = "";
        for(count = (pageNum - 1) * onePageTotal; count < (pageNum * onePageTotal); count++){
            if(count >= wineList.length) break;
            let $wine = wineList[count];
            let $wine_location = $wine.location.split("\n·\n");                
            str += `
            <li>
                <span><img src="${$wine.image}"></span><span>${$wine.wine}</span><span><a>${$wine_location[0]}</a><a>${$wine_location[1]}</a></span>
                <input type="hidden" name="wine_serialkey" value="${$wine.id}" />
                <div><span><a></a></span><span></span><a>상세보기</a></div>
            </li>
                `;
        }
        document.getElementById("resultList").innerHTML += `<div><span>${wineList.length}</span>개의 검색 결과가 있습니다.</div>`
        document.getElementById("resultList").innerHTML += str;
        movePage(pageArrNum);
        
        $('#resultList>li').hover(function(){
            let $wine_serialkey = $(this).children('input[name=wine_serialkey]').val();
            let $this = $(this);
            const wine_data = {
                "wine_serialkey" : $wine_serialkey,
                "wine_type" : type,
            }
            //
            $.ajax({
                type: "POST",
                url: "/review/showScore",
                data: wine_data,
                cache: false,
                success: function(data, status, xhr){
                    if(status == "success"){
                        if(data.status !== "OK"){
                            alert(data.status);
                            return;
                        }
                        let score = data.reviewScore;
                        let message = "";
                        if(score == 0) message = '등록된 후기가 없습니다.<span style="display: block;font-size: 12px;margin-top: 5px;opacity: 80%;">첫번째 후기를 남겨주세요!</span>'
                        else if(score < 5)  message = "나쁘지 않아요!"
                        else if(score < 8)  message = "GOOD"
                        else if(score < 10)  message = "추천합니다!"
                        else if(score == 10)  message = "강력 추천!"

                        $this.children('div').children('span').children('a').html('<i class="fa-solid fa-star"></i>' + score.toFixed(1));
                        $this.children('div').children('span:nth-child(2)').html(message);
                    }
                },
            });
        });
        
        $('#resultList>li>div>a').on('click', function(){
            let $wine_serialkey = $(this).parent().siblings('input[name=wine_serialkey]').val();
            let $wine_img = $(this).parent().siblings('span:nth-child(1)').children('img').attr("src");
            let $wine_name = $(this).parent().siblings('span:nth-child(2)').html();
            let $wine_location = $(this).parent().siblings('span:nth-child(3)').children('a:nth-child(1)').html()
                            + " " + $(this).parent().siblings('span:nth-child(3)').children('a:nth-child(2)').html();

            const wineform = $("<form>", {
                method: "post",
                action: "/wine/detail",
            }).appendTo("body");
            wineform.append(`<input type="hidden" name="serialkey" value="${$wine_serialkey}">`);
            wineform.append(`<input type="hidden" name="type" value="${type}">`);
            wineform.append(`<input type="hidden" name="img" value="${$wine_img}">`);
            wineform.append(`<input type="hidden" name="name" value="${$wine_name}">`);
            wineform.append(`<input type="hidden" name="location" value="${$wine_location}">`);
            wineform.submit();
        });
    }
    $(function(){
        
        $.ajax({
            type: "GET",
            url: "https://api.sampleapis.com/wines/" + type,
            data: {},
            success: function( result ) {
                wineList = result;
                pageNum = 1, pageArrNum = 0;
                let totalPage = (wineList.length / onePageTotal) - parseInt(wineList.length / onePageTotal) > 0?
                    parseInt(wineList.length / onePageTotal) + 1 : parseInt(wineList.length / onePageTotal);
                let p = 1, x = 0;
                pages = [];

                while (p <= totalPage) {
                    pages[x] = new Array;
                    for(y = 0; y < 5; y++)  
                        (p > totalPage ) || (pages[x][y] = p++);                
                    x++;
                }
                switch (type) {
                    case "reds": type = "red"; break;
                    case "whites": type = "white"; break;
                }
                setList(1, onePageTotal);
            }
        });
    });   
    
</script>