<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">
    <link rel="stylesheet" th:href="@{/css/wine/search.css}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5c3bd4b785.js" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/CSS/vvineStyle.css}">
    <!-- js -->
    <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
    <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
    <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
    <script th:src="@{/js/vvineFunc/mail-script.js}"></script>

    <script th:src="@{/js/vvineFunc/main.js}"></script>
    <script th:inline="javascript">
        const conPath = [[${conPath}]];
    </script>
</head>
<body>
    <th:block th:insert="~{common/header::header}"></th:block>
    <FORM method="get" name="searchFrom">
        <div id="search">
            <div id="wineTypeBtn">
                <input type="radio" name="wine_type" value="reds" checked/>RED
                <input type="radio" name="wine_type" value="whites"/>WHITE
                <input type="radio" name="wine_type" value="sparkling"/>SPARKLING
                <input type="radio" name="wine_type" value="rose"/>ROSE
                <input type="radio" name="wine_type" value="dessert"/>DESSERT
                <input type="radio" name="wine_type" value="port"/>PORT
            </div>
            <div>
                <select name="searchType">
                    <option value="name" name="">이름</option>
                    <option value="location">나라</option>
                </select>
                <input type="text" placeholder="wine search" name="searchContent"/>
                <select name="selectLocation"></select>
                <input type="button" id="searchBtn" value="검색"/>
            </div>
        </div>
    </FORM>
    <div id="resultList"></div><div id="pageList"></div>
    <footer><th:block th:insert="~{common/footer::footer}"></th:block></footer>
</body>
</html>
<script th:src="@{/js/wine/search.js}"></script>


