<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script th:if="${dto == null}">
    alert("해당 정보가 삭제되거나 없습니다");
    history.back();
</script>
<th:block th:if="${dto}" th:with="dto=${dto}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wine</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/vvineStyle.css}">
    <link rel="stylesheet" th:href="@{/css/wine/detail.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5c3bd4b785.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script th:src="@{/js/vvineFunc/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script th:src="@{/js/vvineFunc/easing.min.js}"></script>
    <script th:src="@{/js/vvineFunc/hoverIntent.js}"></script>
    <script th:src="@{/js/vvineFunc/superfish.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/vvineFunc/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.sticky.js}"></script>
    <script th:src="@{/js/vvineFunc/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/vvineFunc/parallax.min.js}"></script>
    <script th:src="@{/js/vvineFunc/mail-script.js}"></script>
    <script th:src="@{/js/vvineFunc/main.js}"></script>



    <script th:inline="javascript">
        const conPath = [[${conPath}]];
        const $user_uid = [[${user_uid}]]
    </script>
</head>
<body>
    <th:block th:insert="~{common/header::header}"></th:block>
    <div id="window">
        <article id="wine">
            <img th:src="${dto.wine_img}">
            <div id="info">
                <span th:utext="${dto.wine_name}"></span><span th:utext="${dto.wine_location}"></span>
            </div>
            <div id="stock" th:if="${dto.wine_id} and ${dto.wine_count > 0}" sec:authorize="isAuthenticated" th:with="uid=${#authentication.getPrincipal().getUser().getUser_uid()}" >
                <div>재고 : <span id="stockTotal" th:utext="${dto.wine_count}"></span></div>
                <div><span th:utext="${dto.wine_price}"></span>원<input type="button" value="구매" name="buyBtn"></div>
                <input type="hidden" name="wine_id" th:value="${dto.wine_id}" />
            </div>
            <div id="stock" th:if="${dto.wine_id == null} or ${dto.wine_count == 0}">
                <div>재고 : <span id="stockTotal">0</span></div>
                <div sec:authorize="isAuthenticated" ><span></span><input type="button" value="입고 요청"></div>
            </div>
        </article>
        <article id="review" >
            <input type="hidden" name="wine_type" th:value="${dto.wine_type}" />
            <input type="hidden" name="wine_serialkey" th:value="${dto.wine_serialkey}" />
            <form name="reviewForm" id="reviewForm" sec:authorize="isAuthenticated">
                <div id="star">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="10" /><label class = "full" for="star5"></label>
                        <input type="radio" id="star4half" name="rating" value="9" /><label class="half" for="star4half"></label>
                        <input type="radio" id="star4" name="rating" value="8" /><label class = "full" for="star4"></label>
                        <input type="radio" id="star3half" name="rating" value="7" /><label class="half" for="star3half"></label>
                        <input type="radio" id="star3" name="rating" value="6" /><label class = "full" for="star3"></label>
                        <input type="radio" id="star2half" name="rating" value="5" /><label class="half" for="star2half"></label>
                        <input type="radio" id="star2" name="rating" value="4" /><label class = "full" for="star2"></label>
                        <input type="radio" id="star1half" name="rating" value="3" /><label class="half" for="star1half"></label>
                        <input type="radio" id="star1" name="rating" value="2" /><label class = "full" for="star1"></label>
                        <input type="radio" id="starhalf" name="rating" value="1" /><label class="half" for="starhalf"></label>
                    </fieldset>
                    <div>0</div>
                </div>
                <div id="coment">
                    <input type="text" name="wnrv_content" placeholder="한줄평을 입력해주세요." />
                    <input type="button" name="reviewBtn" value="입력"/>
                </div>
            </form>
            <div id="comentList" th:if="${commentList}" >
                <li th:each="comt : ${commentList}">
                    <div>
                        <span th:utext="${comt.user.user_id}"></span>
                        <span th:utext="${#temporals.format(comt.wnrv_regdate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <div  sec:authorize="isAuthenticated" th:with="user=${#authentication.getPrincipal().getUser()}">
                            <a class="reviewChange" th:if="${user.user_uid == comt.user.user_uid}">수정</a><a class="reviewRemove" th:if="${user.user_uid == comt.user.user_uid}">삭제</a>
                        </div>
                    </div>
                        <div class="starScore"><span class="outer-star"><span class="inner-star"></span></span></div>
                        <div th:utext="${comt.wnrv_content}"></div>
                        <input type="hidden" th:value="${comt.wnrv_reviews}" name="userScore" />
                        <input type="hidden" th:value="${comt.wnrv_id}" name="id" />
                </li>
            </div>
            <div id="comentList" th:if="${commentList == null}" th:each="comt : ${commentList}" >평가가 없습니다.</div>
        </article> 
    </div>
    <footer><th:block th:insert="~{common/footer::footer}"></th:block></footer>
</body>
</html>
<script src="https://js.tosspayments.com/v1/payment"></script>
<script th:src="@{/js/wine/detail.js}"></script>
</th:block>